<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jevon.dao.MedDaoMapper">

	<!--
		根据类型id查询药品
	  -->
	<select id="getMedListByTypeId" resultType="com.jevon.entity.MedicineBrief" parameterType="Map">
		SELECT id,name,price,prescript,note,pic,salesnum,med_type FROM medicine WHERE med_type=#{type_id} ORDER BY ${sort_way}
	</select>


	<!--
		根据药品id查询药品
	  -->
	<select id="getMedDetailById" resultType="com.jevon.entity.MedicineDetail" parameterType="int">
		SELECT * FROM medicine WHERE id=#{0}
	</select>
	
	<!--
		根据关键词模糊查询药品
	  -->
	<select id="selectMedByMatching" resultType="com.jevon.entity.MedicineBrief" parameterType="Map">
		SELECT * FROM medicine WHERE CONCAT(NAME,note) LIKE #{key_word} ORDER BY ${sort_way}
	</select>
	
	<select id="selectSalesNumTopNMed" resultType="com.jevon.entity.MedicineBrief" parameterType="int">
		SELECT  id,pic,name,price,salesnum FROM medicine ORDER BY salesnum DESC LIMIT 5
	</select>


	<select id="getAllMedicine" resultType="com.jevon.entity.MedicineDetail" parameterType="Map">
		SELECT * FROM medicine LIMIT #{limit} OFFSET #{offset}
	</select>

	<select id="getMedicineCount" resultType="com.jevon.entity.CountObject">
		SELECT COUNT(*) as 'count' FROM medicine
	</select>

	<update id="updateMedicine" parameterType="Map">
		UPDATE medicine
		SET name = #{name}, price = #{price}, prescript = #{prescript},note = #{note},pic = #{pic},med_type = #{med_type},normal_name = #{normal_name},goods_name = #{goods_name},
		    composition = #{composition},avoid = #{avoid},`function` = #{function},`usage` = #{usage},properties = #{properties}, packing_size = #{packing_size},adverse_reaction = #{adverse_reaction},
			store_condition = #{store_condition}, valid_time = #{valid_time}, attensions = #{attensions}, register_number = #{register_number}, manufacturer = #{manufacturer}
		WHERE id = #{med_id}
	</update>

	<insert id="addMedicine" parameterType="Map">
		INSERT INTO medicine
		SET name= #{name}, price = #{price}, prescript = #{prescript},note = #{note},pic = #{pic},med_type = #{med_type},normal_name = #{normal_name},goods_name = #{goods_name},
			composition = #{composition},avoid = #{avoid},`function` = #{function},`usage` = #{usage},properties = #{properties}, packing_size = #{packing_size},adverse_reaction = #{adverse_reaction},
			store_condition = #{store_condition}, valid_time = #{valid_time}, attensions = #{attensions}, register_number = #{register_number}, manufacturer = #{manufacturer}
	</insert>

	<delete id="deleteMedicine" parameterType="String">
		DELETE FROM medicine
		WHERE id='${_parameter}';
	</delete>


	<select id="getAllMedType" resultType="com.jevon.entity.MedType">
		select * FROM medtype;
	</select>

	<insert id="addMedType" parameterType="String">
		INSERT INTO medtype SET name= '${_parameter}';
	</insert>

	<select id="getMedTypeByTypeId" parameterType="String" resultType="String">
		SELECT name FROM medtype WHERE id = '${_parameter}';
	</select>

</mapper>

